<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hapi React Transform Boilerplate</title>
        {{! fake a favicon - http://stackoverflow.com/a/13416784 }}
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    </head>
    <body>
        <div id="react-root">{{{ componentRenderedToString }}}</div>
        <script type="application/javascript">
            {{#if initialState}}
                window.__INITIAL_STATE__ = {{{ initialState }}};
            {{/if}}
            {{#if env}}
                window.env = "{{ env }}";
            {{/if}}
        </script>
        <script src="/static/bundle.js" type="application/javascript"></script>
    </body>
</html>